body {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.calc {
  width: 50%;
  margin: auto;
}

.calc .displayScreen {
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
  color: white;
  background-color: #858694;
}

.btnAc {
  width: 25%;
  height: 50px;
  border: solid #c3c3c3 1px;
  background-color: #e0e0e0;
}

.btn0 {
  width: 50%;
}

.operator {
  background-color: #f5913e;
}

.btnAc:active {
  background-color: white;
}
